@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  margin: auto;
  top: 0% !important;
}

.custom-select {
  background: url('/arrow_drop_down.svg') no-repeat right center;
  background-size: 30px;
  padding-right: 20px;
  position: relative;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #97cbff;
  border-radius: 6px;
  cursor: pointer;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #1089FF;
}


.address::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.address::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.address::-webkit-scrollbar-thumb {
  background: #97cbff;
  border-radius: 6px;
  cursor: pointer;
}

.address.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #1089FF;
}


.showBets {
  animation-name: showbet;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.hideBets {
  animation-name: hidebet;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}


@keyframes showbet {
  0% { height: 48px; }
  90% { height: 300px; }
  100% { height: auto; }
}

@keyframes hidebet {
  0% { height: auto; }
  10% { height: 300px; }
  100% { height: 48px; }
}


.slideIn {
  animation-name: slide-in;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.slideOut {
  animation-name: slide-out;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes slide-out {
  0% { left: -1100%; }
  100% { left: 0%; }
}

@keyframes slide-in {
  0% { left: 0%; }
  100% { left: -1100%; }
}



.open-league {
  animation-name: openLeague;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.close-league {
  animation-name: closeLeague;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}


@keyframes openLeague {
  0% { height: 48px; }
  90% { height: 300px; }
  100% { height: auto; }
}

@keyframes closeLeague {
  0% { height: auto; }
  100% { height: 48px; }
}



@layer utilities {
  .header {
    @apply w-full flex flex-col justify-between px-[15px] py-2 md:px-[23px] md:py-4 bg-dark-gradient-180deg gap-2 drop-shadow-drop-box z-50;
  }

  .loginbtn {
    @apply px-4 py-1 bg-transparent border border-color-30 rounded-full flex justify-center items-center text-color-30 text-sm hover:bg-light-gradient-135deg cursor-pointer;
  }

  .registerbtn {
    @apply px-4 py-1 bg-light-gradient-135deg border border-color-30 rounded-full flex justify-center items-center text-color-30 text-sm cursor-pointer;
  }

  .activeMenu {
    @apply text-color-30 text-base px-5 py-2 border-b-color-10 border-b-4 rounded-full;
  }

  .menu {
    @apply text-color-30 text-base px-5 py-2;
  }

  .mobileNav {
    @apply text-color-30 text-base py-5 px-28 hover:bg-color-10 rounded-full transition duration-700
  }

  .custom-select {
    @apply appearance-none w-auto px-2 bg-transparent focus:outline-none focus:border-none cursor-pointer text-color-30 tracking-wide font-medium text-sm;
  }

  .custom-select option {
    @apply text-color-60;
  }

  /* subcription page */
  .subscription-btn {
    @apply text-color-60 text-base md:text-lg font-semibold bg-color-30 px-7 py-1 rounded-full text-shadow-text-drop drop-shadow-drop-box flex justify-between gap-3;
  }

  .input {
    @apply bg-color-30 border-b-4 border-b-color-10 focus:outline-none px-4 py-2 lg:py-[10px] rounded-tr-2xl rounded-bl-2xl placeholder:text-color-60 placeholder:text-sm lg:placeholder:text-base text-color-60 mb-2
  }

  .mobile-league {
    @apply fixed top-0 bottom-0 left-0 right-0 w-full h-auto flex-col items-center bg-light-gradient-135deg cursor-pointer lg:hidden overflow-y-scroll py-8 z-50
  }

  .bets {
    @apply fixed top-0 bottom-0 w-full h-auto flex-col justify-center items-center bg-light-gradient-135deg pt-5 cursor-pointer lg:hidden z-50
  }

  .score {
    @apply text-xs md:text-sm text-color-score font-semibold text-center
  }

  .scores-container {
    @apply flex justify-between
  }

  .team {
    @apply text-sm text-color-60 font-medium w-2/5 text-center 
  }

  .team-container {
    @apply flex w-4/5 flex-col
  }

  .profile-link {
    @apply px-5 py-3 border-b-2 border-color-10 hover:bg-light-gradient-135deg cursor-pointer
  }

  .admin-link {
    @apply px-3 py-3 hover:bg-light-gradient-135deg cursor-pointer flex gap-2 items-center text-color-30 text-sm
  }

}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}