@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  margin: auto;
  top: 0% !important;
}

.custom-select {
  background: url('/arrow_drop_down.svg') no-repeat right center;
  background-size: 30px;
  padding-right: 20px;
  position: relative;
}

/* hiding the google translate widget */
.skiptranslate iframe {
  display: none !important;
}

@layer utilities {
  .header {
    @apply w-full flex flex-col justify-between px-[15px] py-2 md:px-[23px] md:py-4 bg-dark-gradient-180deg gap-2 drop-shadow-drop-box;
  }

  .loginbtn {
    @apply px-4 py-1 bg-transparent border border-color-30 rounded-full flex justify-center items-center text-color-30 text-sm hover:bg-light-gradient-135deg cursor-pointer;
  }

  .registerbtn {
    @apply px-4 py-1 bg-light-gradient-135deg border border-color-30 rounded-full flex justify-center items-center text-color-30 text-sm cursor-pointer;
  }

  .activeMenu {
    @apply text-color-30 text-base px-5 py-2 border-b-color-10 border-b-4 rounded-full;
  }

  .menu {
    @apply text-color-30 text-base px-5 py-2;
  }

  .mobileNav {
    @apply text-color-30 text-base py-5 px-28 hover:bg-color-10 rounded-full transition duration-700
  }

  .custom-select {
    @apply appearance-none w-auto px-2 bg-transparent focus:outline-none focus:border-none cursor-pointer text-color-30 tracking-wide font-medium text-sm;
  }

  .custom-select option {
    @apply text-color-60;
  }

  /* subcription page */
  .subscription-btn {
    @apply text-color-60 text-base md:text-lg font-semibold bg-color-30 px-7 py-1 rounded-full text-shadow-text-drop drop-shadow-drop-box flex justify-between gap-3;
  }

  .input {
    @apply bg-color-30 border-b-4 border-b-color-10 focus:outline-none px-4 py-2 lg:py-[10px] rounded-tr-2xl rounded-bl-2xl placeholder:text-color-60 placeholder:text-sm lg:placeholder:text-base text-color-60 mb-2
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}